extends ../layout/mainTemplate
include ../modules/headerTemplate

block title
    | Simple Game

block header
    +pageTitle('Leaders')

block content

    div
        mixin scoreTable(players)
            table.score-table
                tr
                    each val in ['Nickname', 'Score']
                        th= val 
                each user in players
                    tr
                        td= user.nick
                        td= user.score
                
        mixin pagination(amount, active)
            .pagination
                //- prev arrow
                if (amount > 1)
                    - var next = active;
                    - var prev = active - 2;
                    if (prev + 1 > 0)
                        a(title="Prev page" name= index href='/leaders/'+prev) ◀

                    - for (var index = 1; index <= amount; index++)

                        - var titleName = 'Current page ' + index;
                        - var pageName = index -1;

                        if (index === active)
                            a.active.button-ref(title= titleName name= pageName href='/leaders/' + pageName)=index
                        else
                            a.button-ref(title= b name= pageName href = '/leaders/' + pageName)= index

                    //- next arrow
                    if (next < amount)
                        a(title="Next page" href='/leaders/'+next) ▶

        +scoreTable(inputPlayers)

        div#pagination
            +pagination(pagesCount, pageIndex)

    a.button-menu.hvr-grow#backtomenu(name='menu' href='/') Back to menu

    div.warn-title #{statusText}




