extends ../layout/main
include ../modules/header

block title
    | Simple Game

block header
    +pageTitle('Leaders')

block content

    div
        table.score-table
            tr
                each val in ['Nickname', 'Score']
                    th= val 
            each nick, score in inputPlayers
                tr
                    td= score
                    td= nick
                

        //- Pagination
            //- amount - amount of displayed numbers
            //- active - active number
        - const pageAmount= Math.ceil(Object.keys(inputPlayers).length / 3) //Кол-во страниц

        mixin pagination(amount, active)
            .pagination
                //- prev arrow
                a(href="" title="Prev page") ◀
                //-
                - for (var index = 1; index <= amount; index++)
                    if (index === active)
                        a(href="" title="Current page #{index}" ).active= index
                    else
                        a(href="" title="Go to page #{index}" )= index

                //- next arrow
                a(href="#" title="Next page") ▶
                //-

        div#pagination
            +pagination(pageAmount, nextPageNumber)

    a.button-menu(name='menu' href='') Back to menu




