extends ../layout/main
include ../modules/header

block title
    | Simple Game

block header
    +pageTitle('Leaders')

block content

    div
        table.score-table
            tr
                each val in ['Nickname', 'Score']
                    th= val 
            each nick, score in inputPlayers
                tr
                    td= score
                    td= nick
                

        //- Pagination
        mixin pagination(amount, active)
            //- amount - amount of displayed numbers +1 prior ellipsis
            //- active - active number
            //- ellipsis - number to be replaced by ellipsis
            //- last - number after ellipsis
            .pagination
                //- prev arrow
                a(href="" title="Prev page").pagination__prev.icon-pagination-prev ◀
                //-
                - for (var index = 1; index <= amount; index++)
                    if (index === active)
                        a(href="#" title="Current page #{index}" ).active.pagination__number= index
                    else
                        a(href="#" title="Go to page #{index}" ).pagination__number= index

                //- next arrow
                a(href="#" title="Next page").pagination__next.icon-pagination-next ▶
                //-

        div#pagination
            +pagination(5, 2)

    a.button-menu(name='menu' href='') Back to menu




